* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Courier New", Courier, monospace;
}
body ul li {
	text-decoration: none;
	list-style: none;
}

/* menuItem css start here */
.header {
	width: 1280px;
	margin: auto;
}
.header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 8px;
}
.header ul li {
	color: white;
	padding: 10px 20px;
	border-right: 1px solid gray;
	cursor: pointer;
}

#submenuButton {
	background-color: transparent;
	border: none;
	color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.arrowDown {
	border-top: 0.5rem solid gray;
	border-right: 0.4rem solid transparent;
	border-left: 0.4rem solid transparent;
	margin-left: 10px;
}
.arrowRight {
	border-left: 0.5rem solid gray;
	border-bottom: 0.4rem solid transparent;
	border-top: 0.4rem solid transparent;
	margin-left: 10px;
}
.parentMenu {
	position: relative;
}
.childMenu {
	position: absolute;
	display: none !important;
	flex-direction: column;
	left: 0px;
	top: 37px;
	min-width: 200px;
	background-color: transparent !important;
}
.showChildMenu {
	display: block !important;
}
.hideChildMenu {
	display: none !important;
}
.childMenu li {
	border: 1px solid gray;
	width: 200px;
	border-radius: 8px;
	background-color: black;
	text-align: center;
}
.childMenuStyle {
	position: absolute;
	left: 100%;
	top: 0px;
}
