* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Courier New", Courier, monospace;
}
body ul li {
	text-decoration: none;
	list-style: none;
}

/* menuItem css start here */
.header {
	width: 1280px;
	margin: auto;
}
.header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 8px;
}
.header ul li {
	color: white;
	padding: 10px 20px;
	border-right: 1px solid gray;
}
